@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    @import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    background-color: rgb(245, 245, 245);
    color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --primary: #ff3b14;
}

// <uniquifier>: Use a unique and descriptive class name

.nunito {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.roboto {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
